:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENTOS BASE */

body{
    background: var(--preto);
    font-family: 'Helvetica', Arial, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
}

header .logo{
    /* margin-left: 10px; */
    /* color: var(--vermelho); */
    /* font-family: 'Arial Black', Times; */
    /* font-size: 40px; */
    margin: 0px 25px;
    width: 120px;
    height: 60px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 17px;
}

header nav a:hover{
    color: #fff;
}

/* FILME PRINCIPAL */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(0deg, rgba(20,20,20,1) 9%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%), url('../img/background/capa-house-of-cards-1.jpg');
    height: 700px;
    background-size: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 0.05em;
    width: 700px;
    line-height: 1.3;
}

.logo-serie{
    margin-bottom: 20px;
}

.botao-informacoes{
    background-color: rgba(95, 98, 101, 0.70);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s ease all;
}

.botao-assistir{
    background-color: rgba(255,255,255,1);
    border: none;
    color: black;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease all;
}

.botao-assistir:hover{
    background-color: #ccd1d1;
    color: black;
}

.botao-informacoes:hover{
    background-color: rgba(255,255,255,0.30);
}

.botoes i{
    margin-right: 15px;
    font-size: 25px;
}

.carrossel-filmes{
    margin-top: 10px;
}

.secoes p{
    padding-bottom: 18px;
    font-size: 26px;
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 0.05em;
}